// ---------------------------------Base styles------------------------------------//
//________________________________________________________________________________//
@use 'variables' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: $font-stack, sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	background-color: $light-color;
	color: $dark-color;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	color: $light-color;
}

h1 {
	font-size: 2.8rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.8rem;
}

h4,
h5,
h6,
a,
p,
li {
	font-size: 1.6rem;
	letter-spacing: 1px;
	color: $light-color;
}

a {
	text-decoration: none;
	color: $theme-color;
	cursor: pointer;
}

ul, li {
	list-style: none;
}