// ---------------------------------Variables-------------------------------------//
//________________________________________________________________________________//

// Colors
$theme-color: #0665a5;
$secondary-color: #0082aa;
$light-color: #dddddd;
$dark-color: #474747;
$grey-color: #808080;
$overlay-color: rgba(0, 0, 0, 0.5);

// Media queries breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;



//--------------------------------------------//
//--------------------------------------------//

// Size main
$size-1: 0.5rem;
$size-2: 1rem;
$size-3: 2rem;
$size-4: 3rem;
$size-5: 4rem;
$size-6: 6rem;
$size-7: 8rem;

// Margin page
$margin-center-small: 2rem;
$margin-center-medium: 3rem;
$margin-center-large: 4rem;

// Other
$font-stack: 'Courier New';
$default-rounding: 5px;