// ----------------------Header-----------------------//
//___________________________________________________//
@use '../core/variables' as *;

header {
    background: $secondary-color;
    width: 100%;
    height: 500px;
}