// -------------------Section-------------------//
//_____________________________________________//
@use '../core/variables' as *;


.section {
    height: 400px;
}

.section--1 {
    background-color: #888;
}
.section--2 {
    background-color: #666;
}
.section--3 {
    background-color: #444;
}
